<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>The ComicVerse - Manage My Series</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="../static/css/manage_my_series.css"
      th:href="@{/css/manage_my_series.css}"
    />

    <script
      type="text/javascript"
      src="../static/js/usersession.js"
      th:src="@{/js/usersession.js}"
    ></script>
  </head>

  <body>
    <!--Menu Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!--<a class="navbar-brand" href="#">ComicVerse</a>-->
      <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <form id="submitHome2" action="/home" method="GET">
              <a
                      class="nav-link"
                      href="#"
                      onclick="document.getElementById('submitHome2').submit()"
              >Home <span class="sr-only">(current)</span></a
              >
            </form>
          </li>

          <li class="nav-item dropdown">
            <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
            >
              Browse
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <form
                      id="submitBrowseSeries"
                      th:action="@{/series/allSeries}"
                      method="POST"
              >
                <input
                        name="username"
                        id="dummyUsernameForm10"
                        hidden/>
                <a
                        class="dropdown-item"
                        href="#"
                        onclick="document.getElementById('submitBrowseSeries').submit();"
                >Browse Series</a
                >
              </form>

              <form
                      id="submitBrowseDerivEpi"
                      th:action="@{/episodes/allEpiWithDerivedEpi}"
                      method="POST"
              >

                <a
                        class="dropdown-item"
                        href="#"
                        onclick="document.getElementById('submitBrowseDerivEpi').submit();"
                >Browse Derived Episodes</a
                >
              </form>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownMenuLink2"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
            >
              Create
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <form
                      id="submitCreate2"
                      action="/create_comic_series"
                      method="GET"
              >
                <a
                        class="dropdown-item"
                        href="#"
                        onclick="document.getElementById('submitCreate2').submit()"
                >Create a Serie</a
                >
              </form>
              <div class="dropdown-divider"></div>
              <form
                      id="submitUpload"
                      th:action="@{/episodes/upload_episode}"
                      method="GET"
              >
                <input
                        id="dummyUsernameForm2"
                        type="text"
                        name="username"
                        hidden
                />
                <a
                        class="dropdown-item"
                        href="#"
                        onclick="document.getElementById('submitUpload').submit()"
                >Upload an Episode</a
                >
              </form>
              <form id="submitDraw" action="/drawing_page" method="GET">
                <a
                        class="dropdown-item"
                        href="#"
                        onclick="document.getElementById('submitDraw').submit()"
                >Draw a Panel</a
                >
              </form>
            </div>
          </li>
          <li class="nav-item">
            <form
                    id="submitManage"
                    th:action="@{/series/mySeries}"
                    method="GET"
            >
              <input
                      id="dummyUsernameForm3"
                      type="text"
                      name="username"
                      hidden
              />
              <a
                      class="nav-link"
                      href="#"
                      onclick="document.getElementById('submitManage').submit()"
              >Manage</a
              >
            </form>
          </li>
          <li class="nav-item">
            <form id="submitSetting" action="/login/getUser" method="GET">
              <input
                      id="dummyUsernameForm1"
                      type="text"
                      name="username"
                      hidden
              />

              <a
                      class="nav-link"
                      href="#"
                      onclick="document.getElementById('submitSetting').submit()"
              >Account Settings</a
              >
            </form>
          </li>
          <li class="nav-item pull-right">
            <form id="submitSignout" action="/signout" method="GET">
              <a
                      class="nav-link pull-right"
                      id="signoutBtn"
                      href="#"
                      onclick="document.getElementById('submitSignout').submit()"
              >Sign Out</a
              >
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <div class="card">
      <div class="card-header">Manage My Comic Series</div>
      <div class="card-body" style="min-height:90vh">
        <div id="seriesTable">
          <div th:if="${series} != null" class="row">
            <div
              th:each="serie : ${series}"
              class="col-sm-4"
              style="padding:10px;"
            >
              <div class="card">
                <!--
                <img class="card-img-top" id="thumbnail" th:src="${serie.imageData}"
                  alt="Card image cap" />
                  -->
                <img
                  class="card-img-top"
                  id="thumbnail"
                  th:src="${serie.imageData}"
                  alt="Card image cap"
                  style="height: 500px;"
                />
                <div class="card-body">
                  <div class="row">
                    <div>
                      <h5 class="card-title">
                        <span
                          th:text="${serie.SeriesName}"
                          style="font-weight: bold;"
                        ></span>
                      </h5>
                    </div>
                    <!--<form
                            style="width: 100%; text-align: right"
                            th:action="@{/series/editSeries}"
                            method="GET"
                    >
                      <input
                              type="number"
                              name="seriesID"
                              hidden
                              th:value="${serie.SeriesID}"
                      />
                      <input
                              class="btn btn-primary"
                              type="button"
                              onclick="this.form.submit();"
                              value="Edit"
                      />
                    </form>-->
                    <form
                            style="width: 100%; text-align: right"
                      id="manageEpisodes"
                      th:action="@{/episodes/allEpisodes}"
                      method="POST"
                    >
                      <input
                        id="seriesID"
                        type="number"
                        name="seriesID"
                        hidden
                        th:value="${serie.SeriesID}"
                      />
                      <input
                        class="btn btn-primary"
                        type="button"
                        onclick="this.form.submit();"
                        value="Manage"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <form id="submitCreate" action="/create_comic_series" method="GET">
          <span
            class="fa-stack fa-2x"
            style="position: fixed; bottom:15px; right:15px"
            onclick="document.getElementById('submitCreate').submit()"
          >
            <i class="fas fa-circle fa-stack-2x" style="color:orange"></i>
            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
          </span>
        </form>
      </div>
    </div>

    <div id="userNotLoggedInModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login Confirmation</h5>

          </div>
          <div class="modal-body">
            <p>Please log in or sign up to continue.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              onclick="document.getElementById('submitHome').submit()"
            >
              Log In
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              onclick="document.getElementById('submitSignUp').submit()"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>

    <form id="submitHome" action="/home" method="GET"></form>
    <form id="submitSignUp" action="/sign_up_form" method="GET"></form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/navbar.js" th:src="@{/js/navbar.js}"></script>
    <script
      src="../static/js/loginModal.js"
      th:src="@{/js/loginModal.js}"
    ></script>
  </body>
</html>

<!--
            <div class="card">
              <div class="card-header">My Best Series</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <img
                      src="https://pbs.twimg.com/profile_images/458955466756726784/KQpNPBA_.png"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="col-sm-9">
                    <label>Subscribers - 100</label>
                    <br />
                    <label>Likes - 456</label>
                    <br />
                    <label
                      >Sample lorem ipsum dolor sit amet lorem ipsum dolor sit amet
                      lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem
                      ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum
                      dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor
                      sit amet lorem ipsum dolor sit amet</label
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="https://i.pinimg.com/originals/02/e4/fe/02e4fe0fbcfdae910a7060ed4d504d68.png"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <div class="row">
                    <div>
                      <h5 class="card-title">Garfield</h5>
                    </div>
                    <div>
                      <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                    <div>
                      <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/StoryArc/235/235._SX400_QL80_TTD_.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <div class="row">
                    <div>
                      <h5 class="card-title">Batman</h5>
                    </div>
                    <div>
                      <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                    <div>
                      <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          -->

<!--
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/StoryArc/1871/1871._SX400_QL80_TTD_.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <div class="row">
                    <div>
                      <h5 class="card-title">Avengers</h5>
                    </div>
                    <div>
                      <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                    <div>
                      <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="https://images.booksense.com/images/544/425/9781481425544.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <div class="row">
                    <div>
                      <h5 class="card-title">Snoopy</h5>
                    </div>
                    <div>
                      <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                    <div>
                      <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <a class="btn btn-primary" href="#" onclick="document.getElementById('manageEpisodes').submit()">Manage</a>
          -->
